.form {
    padding: 1em;
}
.form--item {
    box-sizing: border-box;
    font-size: .75em;
    margin: .25em 0;
    width: 15em;
}
.messageField {
    box-sizing: border-box;
    margin: .25em 0;
    width: 15em;
    height: 15em;
}
.button {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212121;
    background-color: #9E9E9E;
}
.sampleMessage {
    font-size: .5em;
    color: #212121;
    width: 35em;
    margin: auto;
}
.filler {
    text-decoration: underline;
}
.dropdownList {
    font-size: .75em;
}