.component {
    padding: 1.5em;
}
.title {
    font-size: 1.25em;
    text-align: center;
    border-block-end: .1em dotted #757575;
    margin-bottom: .5em;
    color: #212121;
}
.header {
    font-size: .8em;
    text-align: center;
    padding: .25em;
}
.content {
    font-size: .75em;
}
.hint {
    text-align: center;
    font-size: .5em;
    opacity: 1;
}
.disappearingHint {
    opacity: 0;
    transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -ms-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
}